[alias]
	ap = apply
	br = branch
	ci = commit
	cl = clone --recurse-submodules
	co = checkout
	cp = cherry-pick
	df = diff -w
	dt = difftool --no-prompt
	fe = fetch --prune
	fp = format-patch
	st = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit #--
	# show tha added/deleted lines for each files
	#ls = log --numstat --color --decorate
	ls = log --stat --color --decorate
	pl = pull --recurse-submodules
	sf = show --name-only
	show-files = show --name-only
	sw = show -w
	su = submodule update --init --recursive
	rl = reflog --format='%C(auto)%h%C(reset) %C(magenta)%<|(17)%gd%C(reset) %C(blue)<%cI>%C(reset) %gs %C(auto)%d%Creset'
[user]
	name = <My Name>
	email = <My_Email>
[core]
	autocrlf = input
	pager = less -x1,5
	editor = vim
	# excluesfile = ~/.gitignore
	# whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
# [diff]
# 	tool = vimdiff
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
# [giggle]
# 	main-window-maximized = true
# 	main-window-geometry = 453x160+65+24
# 	main-window-view = FileView
# 	history-view-vpane-position = 677
# 	file-view-vpane-position = 912
# 	show-graph = true
[difftool "Beyondcompare4"]
	path = <bc_path>/BComp.exe
	cmd = <bc_path>/BComp.exe  \"$LOCAL\" \"$REMOTE\"
[mergetool "Beyondcompare4"]
	path = <bc_path>/BComp.exe
	cmd = <bc_path>/BComp.exe  \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[push]
	default = nothing
[pull]
	rebase = false
[fetch]
	prune = true
[rebase]
	autoStash = false
[merge]
	tool = BeyondCompare4
[diff]
	guitool = BeyondCompare4
[credential]
	helper = store
# [sendemail]
# 	smtpencryption = tls
# 	smtpsever = smtp.gmail.com
# 	smtpuser = <your_acount>
# 	smtppass = <your_password>
# 	smtpserverport = 587
[i18n]
	filesEnconding = utf-8
